[Unit]
Description=SongLibrary
After=network.target

[Service]
User=root
WorkingDirectory=/root/apps/SongLibrary
ExecStart=/root/apps/SongLibrary/SongLibrary
Restart=always
RestartSec=4
StandardOutput=inherit
EnvironmentFile=/root/apps/SongLibrary/config.env

[Install]
WantedBy=multi-user.target
